<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.unitec.quanlynhanvien">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:icon="@drawable/system">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PhongBanActivity"
           android:label="Quản Lý Phòng Nhân Sự ">
        </activity>

        <activity android:name=".NhanVienPhongBan"
            android:label="DANH SÁCH NHÂN VIÊN">
        </activity>

        <activity android:name=".NhanVienActivity"
            android:label="DANH SÁCH NHÂN VIÊN">
        </activity>

        <activity android:name=".ThemNhanVien"
            android:label="QUẢN LÝ THÊM NHÂN VIÊN"
            android:parentActivityName=".NhanVienActivity">

        </activity>
    </application>

</manifest>